@model IEnumerable<PurchaSalerUI.ViewModel.View_ShopCart>
@{
    ViewBag.Title = "ShopCart";
}

@section head{
    <link href="~/Content/css/ShopCarts.css" rel="stylesheet" />
    <script src="~/Scripts/demo.js"></script>
    <style>
        .router {
            line-height: 53px;
            height: 60px;
            background: #ffdc61
        }

            .router li {
                float: left;
                margin-right: 6px;
                color: #808080;
            }

                .router li a {
                    color: inherit;
                }

                    .router li a:hover {
                        color: #239ee2;
                    }

            .router .divider:after {
                content: '>';
            }
    </style>
}

<div class="router">
    <ul class="nav align-left">
        <li><a href="/Home/Index">首页</a></li>
        <li><span class="divider"></span></li>
        <li><span>购物车</span></li>
    </ul>
</div>
<div class="catbox">
    @using (Html.BeginForm("JieSuan", "Goods", FormMethod.Post, new { id = "formid2" }))
    {
        <table id="cartTable">
            <thead>
                <tr>
                    <th>
                        <label>
                            <input class="check-all check" type="checkbox" />&nbsp;&nbsp;全选
                        </label>
                    </th>
                    <th>商品</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>小计</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var p in Model)
                {
                    <tr>
                        <td class="checkbox"><input class="check-one check" type="checkbox" name="checkBox" id="checkBox1" value="" /></td>
                        <td class="goods"><img src="@p.GoodPhoto" alt="" /><span><a>@p.GoodTitle</a></span></td>
                        <td class="price">@p.Price</td>
                        <td class="count">
                            <span class="reduce">-</span>
                            <input class="count-input" type="text" value="@p.Amount" name="geshu" />

                            <span class="add">+</span>
                        </td>
                        <td class="subtotal">@p.Total </td>

                        <td class="operation"><span class="delete">@Html.ActionLink("删除", "RemoveCart","Mall", new { GoodID = @p.GoodID }, new { onclick = "return confirm('确认删除吗？')" })</span></td>
                    </tr>

                    
                }
            </tbody>
        </table>
        <div class="foot" id="foot">
            <div class="con-box1">
                <label class="fl select-all"><input type="checkbox" class="check-all check" />&nbsp;&nbsp;全选</label>
                <a class="fl delete" id="deleteAll" href="javascript:;">@Html.ActionLink("删除", "RemoveALL", new { UserID = Session["UserID"] }, new { onclick = "return confirm('确认全部删除吗？')" })</a>
            </div>

            <div class="con-box">
                <div class="fr closing"><input type="submit" id="subbtn" value="结算" class="Count_JieSuan" onclick="return confirm('确认结算吗？')" /></div>
                <input type="hidden" id="cartTotalPrice" />
                <div class="fr total">合计：￥<span id="priceTotal">0.00</span></div>
                <div class="fr selected" id="selected">已选商品<span id="selectedTotal">0</span>件<span class="arrow up">︽</span><span class="arrow down">︾</span></div>
                <input type="hidden" value="" name="selectTotal" id="HiddenTotal" />
            </div>

            <div class="selected-view">
                <div id="selectedViewList" class="clearfix">
                    <div><img src="images/1.jpg"><span>取消选择</span></div>
                </div>
                <span class="arrow">◆<span>◆</span></span>
            </div>
        </div>
    }
</div>
